{
  "name": "path-lint",
  "version": "${node_version}",
  "description": "Lint your project tree for filenames that don't match your conventions",
  "license": "MIT",
  "keywords": ["path", "filename", "lint", "style", "casing", "case", "convention", "tree"],
  "bin": "lib/index.js",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/dotellie/path-lint.git"
  },
  "bugs": {
    "url": "https://github.com/dotellie/path-lint/issues"
  },
  "author": "Ellie Fagerberg <ellie@elliestudios.com>",
  "homepage": "https://github.com/dotellie/path-lint#readme",
  "optionalDependencies": {
    "path-lint-linux-x64": "${node_version}",
    "path-lint-linux-arm64": "${node_version}",
    "path-lint-darwin-x64": "${node_version}",
    "path-lint-darwin-arm64": "${node_version}",
    "path-lint-windows-x64": "${node_version}",
    "path-lint-windows-arm64": "${node_version}"
  }
}
