{
  "name": "${node_pkg}",
  "version": "${node_version}",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/dotellie/filename-lint.git"
  },
  "author": "Ellie Fagerberg <ellie@elliestudios.com>",
  "homepage": "https://github.com/dotellie/filename-lint#readme",
  "os": [
    "${node_os}"
  ],
  "cpu": [
    "${node_arch}"
  ]
}